<table>
  <tr>
    <td>Title:</td>
    <td>{{Id ['title']}}</td>
  </tr>
  <tr>
      <td>Author:</td>
      <td>{{Id ['author_lastname']}}</td>
    </tr>
    <tr>
        <td></td>
        <td><button type ="button" (click)="goBack()">Back</button>
    </tr>
</table>