<div>
      <form #bookForm="ngForm" (ngSubmit)="search(bookForm)" >
      <label for="title" >Title:</label>
      <input type = text name="title" ngModel >
    
      <label for="title" >Author:</label>
      <input type = text name="author" ngModel >
      <input type = "submit">
  
    <div *ngFor = "let t of titles">
      <a [routerLink]="['/books', t.id]">    
      Title: {{t.title}}, Author: {{t.author_firstname}} {{t.author_lastname}}</a>

    </div>
    </form>

  </div>